<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- This example excludes
           * Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll (set to Copy Local just for these tests)
           * System assemblies (set to Copy Local for the tests)
           * WebActivator itself
    -->
    <add key="webactivator:excludedFilesExpression" value="bin\\Debug\\(WebActivator|System|Microsoft).*" />
  </appSettings>
</configuration>